{% for role, vms in vms_by_role.items() %}
[{{ role }}]
{% for vm in vms %}
{{ vm.name }}
{% endfor %}

{% endfor %}
[all:vars]
ansible_python_interpreter=/usr/bin/python3
ansible_ssh_common_args='-F ../vagrant/ssh.config'